[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
matplotlib = "*"
opencv-python = "*"
insightface = "*"
onnxruntime-gpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
