<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
    <style>
        .ok {

            font-size: 1.5em;
            text-align: center;
            margin-bottom: 5%;
            margin-top: 2%
        }

        .op {
            font-size: 1.5em;
            font-weight: bold;
            background-color: greenyellow;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            margin-top: 2%;
        }
    </style>
</head>

<body>
    <div class="ok">
        <form method="POST" action="/" enctype="multipart/form-data">
            <div>
                <div><label for="file1">Target image</label>
                    <input type="file" name="file1">
                </div>
                <div>
                    <label for="file2">Face image</label>
                    <input type="file" name="file2">
                </div>
            </div>
            <div>
                <button class="op">Submit</button>
            </div>
        </form>{%if result%}
        <div>
            <h3>Last Result</h2>
                <img src="{{result}}" alt="Result_Image">
        </div>{%endif%}
    </div>

</body>

</html>